asgiref==3.8.1
dj-database-url==3.0.1
Django==5.2.1
django-crispy-forms==2.5
django-htmx==1.26.0
gunicorn==23.0.0
packaging==25.0
pillow==11.2.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
whitenoise==6.11.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0